.register{
    color:rgb(11, 6, 6);
    
    text-align: center;
    
}
body{
    background-image:url(https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?semt=ais_hybrid://static.vecteezy.com/system/resources/thumbnails/008/617/161/small/abstract-gradient-pastel-blue-and-purple-background-neon-pastel-color-template-for-website-or-presentation-free-free-vector.jpg)
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(193, 238, 196);
    width: 90%;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    

}
button{
    color: rgb(5, 9, 9);
    background-color: rgb(242, 232, 232);
    border-radius: 8px;
}

.head{
    color:rgb(255, 255, 255);
    text-align: center;
    
}